rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Detail maps - DMs can upload, all authenticated can read
    match /detail-maps/{hexKey}/{allPaths=**} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }
  }
}
